<!DOCTYPE html>
<html>
  <head>
    <title>SomeLikeItHot</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
<!--       <link rel="shortcut icon" href="/app/assets/images/taco.png"> -->

      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>

  <div id="nav" class="rest_text"><h1>
    <% if current_user %>
      <%= link_to "Edit Profile", user_edit_path %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </h1></div>
  <div>
    <h1><p id="notice"><%#= flash[:notice] %></p></h1>
    <h1><p id="alert"><%#= flash[:alert] %></p></h1>
  </div>
  <%= yield %>
  
  </body>
</html>
